/* font external link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.image-login {
    background-image: url('https://wallpaperaccess.com/full/6272395.gif');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.login {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}
.image-register {
    background-image: url('https://wallpaperaccess.com/full/4442372.gif');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.image {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
